<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://fonts.cdnfonts.com/css/amazon-ember" rel="stylesheet">
    <link href ='./../css/main.css' rel="stylesheet"/>
    <link href ='./../css/detail.css' rel="stylesheet"/>
    <link href ='./../css/review.css' rel="stylesheet"/>
    <link href ='./../css/cart.css' rel="stylesheet"/>
    <link href ='./../css/catagory_products.css' rel="stylesheet"/>


  </head>

<body>
