.cart_box{
  border-bottom:1px solid #e6e6e6;
  padding-bottom:5%;

}
.cart_heading{
  color:black;
  font-size:20px;
  padding:2%;
}
.cart_text{
  width:50%;
  color:black;
  font-size:18px;
  float: left;
}
.cart_image{
  width:100%;
}
.cart_title{
  text-align: left;
}
.cart_price{
  text-align: right;
}
.total_number{
  font-size:19px;
}
.total_price{
  font-size:20px;
  font-weight:700;
}
.checkout_button{
  background:#FFD814;
  color:black;
  font-size:14px;
  border-radius:5px;
  padding:5px;
  border:1px solid black;
  transition: all .4s;
}
.checkout_button:hover{
  background:black;
  color:white;
}
.total_price_container{
  border:1px solid #e6e6e6;
  padding:2%;
  padding-bottom:10%;
  text-align: center;
  color:black;
}
.delete_button{
  border:1px solid black;
  color:black;
  width:30%;
  margin-left:80%;
  margin-top:10%;
  padding:10px;
  background:white;
  font-size:15px;
  transition: all .4s;

  font-weight: normal;
}
.delete_button:hover{
  background:black;
  color:black;
  color:white;
  border-color:red;
}
