.product_detail--name{
  font-size: 2rem;
  color:black;
  font-weight: bold;
}
.product_detail_box{
  padding:2%;
  margin-top:2.5%;
}
body{
  background:white;
}
.product_detail--type{
  font-size:1.4rem;
  font-weight: normal;
}

.detail_button{
  width:50%;
  margin:0 auto;
  background:black;
  color:white;
  border-radius:20px;
  padding:5px 2px;
  border:none !important;
  opacity:.1;
  transition: all .2s
}
.detail_button:hover{
  background:black !important;
  opacity:1;
  transform: translate(0px) scale(1.05) !important;
}

.product_detail--price{
  color:black;
  font-size:1.3rem;
}

.product_detail--sold{
  color:black;
}

.sold_out{
color:red !important
}
.product_detail--description{
  width:75%;
  font-size:1rem;
  color:black;
}
.product_detail_image{
  width:100%;
}
