.logo_box {
  position: absolute;
  top: 20%;
  left: 1%;
  z-index: 2;
  width:7.5%;
}body{
  overflow-x: hidden;
  font-family: "Amazon Ember" !important;
}
.logo{
  width:90% !important;
  display:inline;
  margin-top:-15%;
}

.create_account{
  background:white;color:black;border:none;font-size:13px;padding:5px;margin-top:15%;
}
.return_col{
  padding:0%;margin-left:-2.5%;margin-top:2%;
}
.margin-top-2_5{
  margin-top:1.5%;
}
.return_row{
  position:absolute;left:10%;width:100%;top:0%;z-index:999;top:2.5%;background:#003337;width:100%;z-index:99;position:static;height:100%;padding-top:1%;
}
a{
  text-decoration:none;
  color:white;
}
.no-border{
  border:none;
}
.return_cart{
  width:40%;margin-left:20%;filter:brightness(199)
}
.return_cart_bubble{
  background:#242424;color:white;text-align:center;border-radius:50%;height:30px;width:30px;font-size:10px;position:absolute;top:50%;right:5%
}
.product_form_row{
  width:90%;margin-left:5%
}
.deliver_address span{
  font-weight: bold;
  color:white;
}
.return_address span{
  color:white;
  font-weight:bold;
}
.detail_row{
  position:absolute;left:10%;width:100%;top:0%;z-index:999;top:2.5%;background:#00453e;width:100%;z-index:99;position:static;height:100%;padding-top:1%
}
.detail_row p {
  color:white;
}
.no-padding{
 padding:0%;
}
.bubble_cart{
  background:#242424;color:white;text-align:center;border-radius:50%;height:30px;width:30px;font-size:10px;position:absolute;top:50%;right:5%
}
.cart_icon{
  width:40%;margin-left:20%;filter:brightness(199)
}
.relative{
  position: relative;
}
.bold{
  font-weight: bold;
}
.margin-top-7_5{
  margin-top:7.5%;
}
.deliver_to{
  font-size:14px;
}
.deliver_address{
  color:#ccc;font-size:14px;
}
.returns_orders{
  color:white;font-size:14px;float:left;margin-left:-5%
}
.sign_in_col{
  margin-left:-2.5%;margin-top:1%;
}

.return_address{
  color:#ccc;font-size:14px;"
}
.modal_container{
  position:relative;z-index:9999;overflow:hidden;top:-10%
}
.modal_title_add{
  text-align:center;font-size:18px;font-weight:400;margin-top:5%
}
.width-100{
  width:100%;
}
.return_col{
  padding:0%;margin-left:-2.5%;margin-top:1%;
}
.product_box{
  box-shadow: 0px 0px 10px rgba(0,0,0,.5);
}
.return_to{
  color:white;font-size:14px;float:left;margin-left:-5%
}
.banner_title{
  color:black;font-size:20px;font-weight:700
}
.margin-top-20{
  margin-top:20%;
}
.item_image{
  width:90%;margin-top:-15%;
}
.arrow_box{
  position:absolute;top:20%;width:100%;
}
.section_container{
  margin-top:-35%;z-index:99;position:relative;
}
.margin-top-5{
  margin-top:5%;
}
.clear-both{
  clear:both
}
.products_banner{
  overflow-y:hidden;overflow-x:scroll;clear:both;width:100%;z-index:99;position:relative;margin-bottom:5%;padding:0%;height:40vh
}
.return_cart{
  width:40%;margin-left:20%;filter:brightness(199)
}
.bubble_cart_return{
  background:#242424;color:white;text-align:center;border-radius:50%;height:30px;width:30px;font-size:10px;position:absolute;top:40%;right:25%
}
.product_item{
  width:20%;padding:2%;position:absolute;
}
.items_banner_container{
  position:relative;background:white;padding:1%;padding-bottom:0%;margin-top:7.5%;
}
.return_col{
  padding:0%;margin-left:-2.5%;margin-top:1%;
}
.padding-bottom-5{
  padding-bottom:5%;
}
.relative{
  position: relative;
}
.arrow_banner_container{
  position:absolute;width:100%;padding:1%;left:0%;z-index:999
}
.arrow_banner{
  width:5%;position:absolute;box-shadow:0px 0px 20px black;background:#ccc;top:20% !important; z-index:99;
}
.arrow_banner--right{
  right:0%;top:20%;transform:rotate(180deg);
}
.arrow_banner--left{
  left:0%;
}
.arrow_box{
  top:10% !important
}
.arrow_showcase{
  position:absolute;width:4%;

}
.product_deal_image{
  width:30%;margin-left:15%;
}
.account_box{
  height:100%;background-size:cover
}
.header--1{
  margin-top:-2.5%;
}
.arrow_showcase--left{
  left:-5%;
}
.arrow_showcase--right{
  right:5%;
  transform:rotateY(180deg);
}
.arrow_banner_container{
  transition: all .3s
}
.heading_box {
  position: absolute;
  right: 0%;
  top: 10%;
  padding: 5%;
}
.arrow--banner{
  transition: all .5s;
  opacity:.5;

}
.arrow--banner:hover{
  opacity:1 !important;
}
.product_name_sub{
  font-weight: normal !important;
  font-size:16px !important;
}
.company_name {
  text-align: left;
  color: white;
  float: left;
  padding-top: 5%;
}
.product_box{
  height:100%;
  text-transform:capitalize;
}
.product_price_original{
  text-decoration: line-through !important;
}
.margin-top-5{
  margin-top:5%;
}
.heading-secondary {
  color: white;
  animation: move_in_left 1s ease-in 1;
  text-align: center;
}

.heading-primary {
  color: white;
  animation: move_in_right 1s ease-in 1;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 5px;
}

.logo {
  width:100%;
  float: left;
}

.header {
  padding: 5%;
  position: relative;
  height: 95vh;
  background-position: top left;
  background-size: cover;
  transition:  all .5s;
  opacity:1;
}
@keyframes fadein{
  from{
    opacity:0
  }
  to{
    opacity:1;
  }
}
/* .header--1{
  animation:.5s fadein 1 ease-in;
  background-image: linear-gradient(rgba(230, 230, 230, 0), rgba(230, 230, 230, 0), rgb(230, 230, 230)), url("https://m.media-amazon.com/images/W/MEDIAX_792452-T2/images/I/71gGpHOu8VL._SX3000_.jpg");
}
.header--2 {
  animation:.5s fadein 1 ease-in;
  background-image: linear-gradient(rgba(230, 230, 230, 0), rgba(230, 230, 230, 0), rgb(230, 230, 230)), url("https://m.media-amazon.com/images/W/MEDIAX_792452-T2/images/I/71HlP6kMROL._SX3000_.jpg");
}
.header--3{
  animation:.5s fadein 1 ease-in;
  background-image: linear-gradient(rgba(230, 230, 230, 0), rgba(230, 230, 230, 0), rgb(230, 230, 230)), url("https://m.media-amazon.com/images/W/MEDIAX_792452-T2/images/I/71HlP6kMROL._SX3000_.jpg");
}
.header--4{
  animation:.5s fadein 1 ease-in;
  background-image: linear-gradient(rgba(230, 230, 230, 0), rgba(230, 230, 230, 0), rgb(230, 230, 230)), url("https://m.media-amazon.com/images/W/MEDIAX_792452-T2/images/I/61qfJ0kqCwL._SX3000_.jpg");
} */
.bubble_showcase{
  width:30%;opacity:.3;float:left;
}
.header--1{
  animation:.5s fadein 1 ease-in;
  background-position: center;
  background-image:  url("./../images/shop242.png");
}
.bubble_showcase:hover{
  opacity:.7;
  transition:all .4s;
}
.bubble_showcase--active{
  opacity:.7;
}

.header--2 {
  background-position: center;
  margin-top:-2.5%;
  animation:.5s fadein 1 ease-in;
  background-image:  url("./../images/shop122.png");
}
.product_type{
  font-family: "Amazon Ember";
  font-size:30px;
  color:black;
  font-weight:bold;
  padding-left:5%;
}
.margin-top-2_5-neg{
  margin-top:-2.5% !important;
}
.story_container{
  background:#00D5FF;
  padding-top:5%;
}
.header--2 .bubble_showcase{
  filter:brightness(0);
  transition:  .5 all;
}
.header--1 .bubble_showcase{
  filter:brightness(1);
  transition:  .5 all;

}
.header--3 .bubble_showcase{
  filter:brightness(0);

  transition:  .5 all;
}
.header--3{
  margin-top:-2.5%;

  animation:.5s fadein 1 ease-in;
  background-position: center;
  background-image: url("./../images/shop90.png");
}
.header--4{
  background-position: center;

  animation:.5s fadein 1 ease-in;
  background-image:  url("./../images/shop11.png");
}
.btn {
  border-radius: 100px;
  text-align: center;
  display: inline-block;
  transition: 0.2s all;
  position: relative;
}
.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
}
.btn-landing {
  animation: move_in_top 1s ease-in 1;
  margin-left: 25%;
}
.btn-white {
  background-color: #fff;
  color: #777;
  padding: 15px 40px;
}
.btn:active {
  transform: translateY(-5px);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}
.btn::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  z-index: -1;
  left: 0;
  transition: all 0.4s;
}
.btn-white::after {
  background: #fff;
}
.btn:hover {
  color: black;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-10px);
}
.btn:hover::after {
  z-index: 1;
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

@keyframes move_in_right {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes move_in_left {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes move_in_top {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  80% {
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
  font-weight: 400;
  font-size: 16px;
  background: #e6e6e6;
  line-height: 1.7;
  color: #777;
}

.padding-small {
  padding: 2.5%;
}

.margin-top-small {
  margin-top: 2.5%;
}

.margin-top {
  margin-top: 5%;
}

.relative {
  position: relative;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 80px;
}
.row::after {
  display: table;
  clear: both;
  content: "";
}

[class^=col-] {
  float: left;
  margin-left: 1.5rem;
}

.col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}

.col-1-of-3 {
  width: calc((100% - 6rem) / 3);
}

.col-1-of-4 {
  width: calc((100% - 6rem) / 4);
}

.col-2-of-3 {
  width: calc(2 * (100% - 6rem) / 3 + 6rem);
}

.col-2-of-4 {
  width: calc(2 * (100% - 6rem) / 2 + 6rem);
}

.section-about {
  padding: 25rem 0;
  margin-top: -55vh;
}

.about-heading {
  text-align: center;
  padding-top: 1%;
  font-size: 16px;
}
.about-heading--primary {
  font-size: 3rem;
  text-transform: capitalize;
  text-shadow: 0px 1rem 2rem #e6e6e6;
  background-image: linear-gradient(to right, rgb(41, 139, 196), rgb(56, 182, 255));
  color: transparent;
  -webkit-background-clip: text;
}
.about-heading--secondary {
  font-size: 1rem;
  font-weight: 400;
  color: black;
}

.product_box {
  width: 100%;
  background: white;
  text-align: center;
  padding: 5%;
  padding-bottom:40%;

}
.product_image {
  width: 100%;
  height: 50%;
}
.product_name {
  font-weight: 600;
  font-size: 20px;
  text-align: left;
  color: black;
}
.product_price {
  font-size: 14px;
  color: black;
  text-align: left;
}
.product_id {
  font-size: 14px;
  color: black;
  text-align: left;
}
.product_text_box {
  margin-top:2.5%;
  padding-left: 2.5%;
}

.signup_title {
  font-size: 15px;
  font-weight: 700;
  color: black;
  text-align: left;
}

.account_box {
  height: 80vh;
  background: white;
  padding: 2.5%;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8), rgb(255, 255, 255)), url("./../images/graphic_.png");
  background-position: left;
}

.signup_box {
  padding: 2.5%;
  position: relative;
  margin-top: 10%;
  height: 40%;
}

.google_login_button {
  border: 1px solid #38B6FF;
  margin-top: 5%;
  color: black;
  font-weight: 400;
  font-size: 16px;
  box-shadow: 0px 5px 10px #38B6FF;
  border: 1px solid #38B6FF;
  background: #38B6FF;
  color: white;
  margin-left: 5%;
  padding: 2.5%;
}

.google_login_logo {
  float: left;
  width: 30px;
  background: white;
  height: 30px;
  margin-top: -0.5%;
  margin-right: 2.5%;
  display: inline;
}

.signup_graphic {
  width: 80%;
  position: absolute;
  top: 0%;
  left: 0%;
}

.login_box {
  margin-top: 10%;
}

.google_link {
  margin-top: 0.5%;
  width: 90%;
}

.login_paragraph {
  color: black;
  font-size: 16px;
  text-align: center;
  margin-top: 20%;
}

.login_button {
  width: 50%;
  margin: 0 auto;
  margin-top: 5%;
  border-bottom: 1px solid #e6e6e6;
  text-align: center;
  color: black;
}

.signup_button {
  background: white;
  padding: 2.5%;
  text-align: center;
  color: black;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  z-index: 99;
  font-size: 16px;
  position: relative;
  width: 50%;
  margin: 0 auto;
  margin-top: 20%;
}

.products_banner {
  background: white;
  margin-top: 5%;
  height: 200px;
}
.products_banner_image {
  width: 100%;
  height: 100%;
}

.slanted_background {
  margin-top: 5%;
  position: relative;
  background-image: linear-gradient(to right bottom, rgb(8, 170, 198), rgb(8, 170, 198), rgb(4, 131, 153));
  height: 70vh;
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  width: 100%;
  padding: 5%;
}

.slanted_graphic {
  width: 50%;
  position: absolute;
  top: -20%;
  right: 0%;
}

.deals_title {
  padding-top: 2.5%;
  font-size: 40px;
  color: black;
  font-weight: 700;
  text-align: left;
  padding-left: 5%;
}

.product_deal_container {
  width: 40%;
  position: absolute;
  top: 30%;
  left: 0;
}

.product_deal_image {
  width: 60%;
}

.deals_description_box {
  position: absolute;
  right: 0%;
  width: 50%;
  top: 0%;
}

.product_deal_name {
  font-size: 20px;
  color: black;
  font-weight: 500;
}

.product_deal_price_cut {
  font-size: 14px;
  color: black;
  text-decoration: line-through;
  font-weight: 500;
  padding-left: 5%;
  text-align: left;
}

.price_deal_tag {
  background: orangered;
  border: none;
  position: absolute;
  right: 45%;
  display: inline;
  color: white;
  padding: 1%;
  font-weight: 500;
  font-size: 12px;
}

.deals_see_more {
  border: none;
  background: none;
  border-bottom: 1px solid black;
  font-weight: 500;
  font-size: 15px;
  color: black;
  width: 40%;
  padding-bottom: 2.5%;
  margin: 0 auto;
  margin-top: 10%;
  margin-left: 10%;
}

.tag {
  position: relative;
  bottom: 50px;
}

.product_deal_price_new {
  font-size: 16px;
  color: black;
  font-weight: 500;
  padding-left: 5%;
  text-align: left;
}

.deals_description {
  font-size: 16px;
  color: black;
  font-weight: 500;
  padding-left: 5%;
  text-align: left;
}

.deals_container {
  position: relative;
  margin-top: 5%;
  background: white;
}

.more_deals_container {
  background: white;
  margin-top: 5%;
  padding: 5% 2.5%;
}

.more_deals_title {
  padding-left: 2.5%;
  font-size: 20px;
  color: black;
  text-align: left;
}

.card {
  padding-top: 5%;
  padding-bottom: 5%;
}

.more_deals_image {
  margin: 0 auto;
  margin-left: 12.5%;
  margin-top: 5%;
  width: 70%;
}

.more_deals_name {
  color: black;
  text-align: center;
  font-weight: 500;
}

.more_deals_user {
  color: black;
  margin-top: 10%;
  text-align: left;
  font-weight: 500;
  padding-left: 5%;
}

.star_row {
  width: 50%;
}

.star_col {
  width: 20%;
  float: left;
}

.star_img {
  width: 100%;
}

.card {
  perspective: 150rem;
  position: relative;
  height: 25rem;
}
.card:hover .card_side--front {
  transform: rotateY(180deg);
}
.card:hover .card_side--back {
  transform: rotateY(0deg);
}
.card_side {
  border: 1px solid #e6e6e6;
  padding: 2.5% 5%;
  position: absolute;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  top:0;
  transition: all 0.4s;
}
.card_side--front {
  background: white;
}
.card_side--back {
  background-image: linear-gradient(to right bottom, rgb(193, 193, 193), rgb(255, 255, 160));
  transform: rotateY(180deg);
}
.padding-bottom-10{
  padding-bottom:10%;
}
.padding-bottom-2_5{
  padding-bottom:2.5%;
}
.padding-top-5{
  padding-top:5%;
}
.
.margin-top-5{
  margin-top:5%;
}
.padding-bottom-5{
  padding-bottom:5%;
}
.showcase_container_products{
  margin-top:-30%;
  position:relative;
  z-index:99
}
.price_number {
  height: 50%;
  width: 50%;
  border-radius: 10%;
  background: white;
  margin: auto;
  margin-top: 25%;
  color: black;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  position: relative;
}

.price_deal {
  top: 35%;
  position: absolute;
  width: 100%;
}
