<div class="navbar">

    <div class="row return_row" >

      <div class="col-1 no-padding ">
          <img src = "./images/new_logo.png" class=" margin-top-7_5 logo" alt = "logo" class="logo"/>
      </div>

      <div class="col-2  no-padding margin-top-2_5">
          <p class="return_to margin-left-5"style="padding-left:10%"><strong>Delivering to</strong> <br /> Scottdale Arizona 852....<br /> <span> Update Location </span></p>
      </div>

      <div class="col-4  no-padding margin-top-2_5">
          <div>
              <span style="width:10%;float:left;background:white;border-left:1px solid #e6e6e6;border-radius:0px;height:45px"class="form-control">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                  </svg>
                </span>
            <input class="form-control no-border "style="float:left;border-radius:0px;width:90%;height:45px" placeholder = "Search for Item">
          </div>
      </div>
      <% console.log(isAuthenticated) %>
      <% if (! isAuthenticated){ %>
      <div class="col-2  no-padding margin-top-2_5">
          <p class="return_to "style="padding-left:10%">Hello! Sign in to <br /><span style="font-weight:bold"> <a href="/login">Customer</a> |  Admin </span></p>
      </div>
      <% }else{ %>
        <div class="col-2  no-padding margin-top-2_5">
            <p class="return_to"style="font-size:16px;padding-left:10%">Welcome Back!<br />
              <a href = "/logout" >
                <span style="text-align:center;font-weight:bold">
                  Logout
                  </span>
                  </a>
                </p>

        </div>
      <%}%>
      <div class="col-1" style="padding:0%;margin-left:-2.5%;margin-top:2%;">
          <p class="return_to">Return / Orders </p>
      </div>


      <div class="col-1 return_col relative no-padding margin-top-2_5" >
        <% if(isAuthenticated){ %>
          <img src="./images/cart.png" class="return_cart" />

          <div class="bubble_cart_return">
              <p class="margin-top-20" >0</p>
          </div>
            <%}else{%>
              <a href = "/create_account">
                <button class="btn create_account" >Create Account </button>
              </a>
              <%}%>

      </div>


   </div>

</div>
