.product{
  &_box{
    width:100%;
    background: white;
    text-align: center;
    padding:5%;
  }

  &_image{
    width:100%;
    height:50%;
  }
  &_name{

    font-weight:600;
    font-size:20px;
    text-align: left;
    color:black;
  }
  &_price{
    font-size:14px;
    color:black;
    text-align: left;

  }
  &_id{
    font-size:14px;
    color:black;
    text-align: left;

  }
  &_text_box{
    padding-left:2.5%;
  }
}
