
<div class="catagory_products container-fluid">
<% for(var k = 0; k < 5; k++) { %>
<div class="catagory_row width-100">
  <p class="catagory_title"> Catagory </p>

  <div class="row">
    <% for(var i = 0; i <= 3; i++) { %>
    <div class="col-3 no-margin-left">
    <div class="catagory_box  width-100">

      <p class="catagory_product_name">Top Ranked Deals</p>

      <img class="catagory_image"src = "./images/catagory_3.png"/>

      <div class="product_text_box">
        <p class="catagory_price ">$ [N/A]</p>
        <a href = "#"><p class="catagory_detail">See Details</p></a>
      </div>

    </div>

  </div>
  <% } %>

 </div>

</div>
<% } %>
</div>
