<div class="row more_deals_row">

  <% for(var i =0; i <2; i++){%>

    <div class="col-1-of-3">
        <div class="product_box shadow_border">
            <p class="product_name">Top Deals</p>
            <img class="product_image"src = "./images/catagory_3.png"/>
            <div class="product_text_box">
            <p class="product_id">Checkout our best deals for holiday season!</p>
            <a href = "#"><p class="product_price">See More</p></a>
          </div>
        </div>
    </div>

  <%}%>

  <div class="col-1-of-3">

      <div class="account_box">

          <p class="signup_title">Signup For Christmas Deals</p>

          <div class="signup_box">
            <div class="signup_button">Create Account</div>
          </div>

          <div class="login_box">

            <p class="login_paragraph">Already Have an Account?</p>

            <div class="login_button">Login</div>

            <div class="google_login_button">
              <img class="google_login_logo"src = "./images/google_logo.png"/>
              <p class="google_link">Login with Google</p>
            </div>

          </div>

        </div>

      </div>

   </div>
