<div class="margin-top-5">
  <p class="product_type">Top Deals</p>
<div class="row margin-top-2_5-neg">

  <% if(items.top_deals.length < 5 ){ %>

      <% for(var i =0; i <5; i++){%>

        <div class="col-1-of-3">
            <div class="product_box">

                <p class="product_name">Top Ranked Deals</p>
                <img class="product_image"src = "./images/catagory_3.png"/>

                <div class="product_text_box">
                  <p class="product_id">[This could be your product!]</p>
                  <p class="product_price product_price_original">[N/A]</p>
                  <p class="product_price product_price_new">[N/A]</p>
                  <a href = "#"><p class="product_price">See Details</p></a>
                </div>

            </div>

        </div>

    <%}%>

  <%}else{ %>

    <% for(var i =0; i <items.top_deals.length; i++){ %>
        <div class="col-1-of-3 margin-top-5 padding-top-2_5">

              <a href = "/product/<%=items.top_deals[i].id%>">
              <div class="product_box">

              <p class="product_name">Top Deals</p>
              <p class="product_name_sub product_name"><%= items.top_deals[i].title %></p>

              <img class="product_image" src = "" />

              <div class="product_text_box">
                <p class="product_price product_price_original">$<%= items.top_deals[i].price  %>.99</p>
                <p class="product_price product_price_new">$<%= parseInt(items.top_deals[i].price / 2).toString(); %>.99</p>
                <p class="product_price">See Details</p>
              </div>

            </div>
            </a>

        </div>

      <%}%>

    <%}%>

    <div class="col-1-of-3 margin-top-5 padding-2_5">
        <div class="account_box product_box">
            <p class="signup_title">Signup For Christmas Deals</p>

            <div class="signup_box">
              <div class="signup_button">
                Create Account
              </div>
            </div>

            <div class="login_box">

              <p class="login_paragraph">Already Have an Account?</p>

              <div class="login_button">
                Login
              </div>

              <div class="google_login_button">
                <img class="google_login_logo"src = "./images/google_logo.png"/>
                <p class="google_link"> Login with Google </p>
              </div>

            </div>

        </div>

    </div>

</div>
