<div class="padding-top-5 padding-bottom-5" >
<p class="more_deals_title">Star User Offers</p>

<div class="row">

  <% for(var i =0; i <3; i++){%>

    <div class="col-1-of-3">

      <div class="card">

        <div class="card_side card_side--front">
          <img class="more_deals_image" src = "./images/1_.png"/>

          <div>
            <p class="more_deals_name">Gormia Air Fryer</p>
            <p class="more_deals_user">Chaswick33</p>

            <div class="star_row">
                <div class="star_col">
                  <img class="star_img" src = "./images/star_1.png"/>
                </div>
                <div class="star_col">
                  <img class="star_img" src = "./images/star_1.png"/>
                </div>
                <div class="star_col">
                  <img class="star_img" src = "./images/star_1.png"/>
                </div>
                <div class="star_col">
                  <img class="star_img" src = "./images/star_1.png"/>
                </div>
                <div class="star_col">
                  <img class="star_img" src = "./images/star_2.png"/>
                </div>
            </div>

         </div>

        </div>

        <div class="card_side card_side--back">

            <div class="price_number">
                <p class="price_deal">$99</p>
            </div>

        </div>

      </div>

    </div>

 <%}%>

</div>
</div>
