<header class="header header--1 relative container-fluid">

    <div class=""style="width:10%;position:absolute;left:45%;top:90%;">
      <div class="row">
            <!-- <img class="arrow_showcase--left arrow_showcase"  src = "./../images/circle.png"/> -->
            <img class="bubble_showcase bubble_showcase--active" index = 1 src = "./../images/circle.png"/>
            <!-- <img class="arrow_showcase--left arrow_showcase"  src = "./../images/circle.png"/> -->
            <img class="bubble_showcase" index = 2 src = "./../images/circle.png"/>
            <img class="bubble_showcase" index = 3 src = "./../images/circle.png"/>

      <!-- <img class="arrow_showcase--right arrow_showcase" src = "./../images/circle.png"/> -->
   </div>
   </div>

</header>
