<div class= "modal_wrapper inactive">

    <div class="modal_container padding-5">

        <div class="shopping_line_container">
            <img class="shopping_line width-100" src="./../images/l.png"/>
        </div>

        <p class="modal_title_add"> Add a New Product </p>

        <form method="POST" action="/admin/add_product" id = "product_form " enctype="multipart/form-data">

          <div class="row product_form_row">

            <div class="col-6">
              <input class=" width-100 input_form name_input" name="title"  placeholder="Enter Name">
            </div>

            <div class="col-6">
              <input class=" width-100 input_form price_input" name="price" type="number" value =1 placeholder="Enter Price">
            </div>

            <div class="col-4">
              <input class=" width-100 input_form catagory_input" name="catagory" placeholder="Enter Catagory">
            </div>

            <div class="col-4">
              <input class=" width-100  input_form banner_input"name="banner"  placeholder="Enter Banner Type">
            </div>

            <div class="col-4">
              <input class=" width-100 input_form quantity_input"name="quantity" type="number"  value= 1 placeholder="Enter Quantity">
            </div>

            <div class="col-4">
              <input class=" width-100  input_form discount_input"name="discount"type="number" value=0 placeholder="Discount Percentage">
            </div>

            <div class="col-4">
              <input type='file' class=" width-100 input_form image_input" name="thumbnail"  placeholder="Image URL">
            </div>

            <div class="col-6">
              <input class="form-control width-100 input_form description_input"name="description" placeholder="Enter Description ">
              <input class="form-control width-100 id_input" name="_id" type="hidden" >
            </div>

            <div class="col-6"></div>

            <div class="col-3"></div>

            <div class="col-6 margin-top-5">
              <button type="submit"class="add_product_btn"> Submit</button>
            </div>

          </div>

        </form>

    </div>

</div>
